@charset "UTF-8";

#logoutButton {
	border:1px solid #000000;
	border-radius:15px;
	margin-right:15px;
	background-color:#f8f8f8;
	display: inline;
    font-family:'Times New Roman';
    margin-top:10.5px;
    float:left;
}

header {
	background-color:white;
	background: rgb(141,255,73);
	background: linear-gradient(90deg, rgba(141,255,73,1) 0%, rgba(28,102,19,1) 100%, rgba(0,212,255,1) 100%);
	position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 9%;
}

li {
    display: inline-table;
    margin-left:30px;
    margin-right:30px;
    margin-top:1px;
    font-size:30px;
    font-family:'Times New Roman';
    float:right;
    text-align: center;
}
a {
	color:#000000;
	text-decoration:none;
}
input {
	border:1px solid #00cd00;
	height:25px;
	width:300px;
	border-radius:15px;
	text-align:center;
	margin:3.5px;
}
#loginButton {
	border:1px solid #000000;
	height:25px;
	width:300px;
	margin:3.5px;
	border-radius:15px;
	text-align:center;
}
input:focus {
	border:2px solid #00cd00;
	outline: none;
}
#regButton {
	border:1px solid #000000;
	border-radius:15px;
	height:25px;
	width:300px;
	background-color:#f8f8f8;
	margin-top:7px;
}
button:focus {
	border:2px solid #000000;
	outline: none;
}
h1 {
	font-family:'Times New Roman';
}
#glavnaya {
	color:#ffffff;
	margin-top:5px;
}
#registrationForm {
	text-align:center;
	margin-top:150px;
}
#inputEmail {
	margin:7px;
}
#inputPassword{ 
	margin:7px;
}
#rememberMe {
	margin:7px;
}
#reg{
	display: inline;
    margin-left:10px;
    margin-right:10px;
    margin-top:7px;
    font-size:20px;
    font-family:'Times New Roman';
    float:left;
    color: #000000;
}
#login{
	display: inline;
    font-size:15px;
    font-family:'Times New Roman';
    float:left;
    background-color:#f8f8f8;
    border:1px solid #000000;
    border-radius:15px;
    width:50px;
    text-align:center;
    margin-right:15px;
    margin-top:11px;
    color: #000000;
}

#loginForm {
	text-align:center;
	margin-top:150px;
}

#calc {
	color:#ffffff;
}

#calcForm {
	margin-top:150px;
}

#weather {
	color:#ffffff;
}

form {
	margin-top:20px;
}

#messages {
	color: #ffffff;
}
