<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
<meta charset="UTF-8">
<title>Регистрация</title>
</head>
<body>
	<header th:insert="navbar :: header"></header>
	<div id="someDiv">
	<form class="form-signin" method="post" action="/registration" id="registrationForm">
      <img class="mb-4" src="/images/leaf.png" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста зарегестрируйтесь</h1>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email"><br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password"><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit" id="regButton">Зарегестирироватся</button>
      <p class="mt-5 mb-3 text-muted">© 2022-2022</p>
    </form>
    </div>
</body>
</html>